.socialMedia {
    position : absolute;
    bottom:25px;
    left:50px;
    z-index:1;

    h3 {
        font-size:15px;
        margin-bottom:10px;
        font-weight: 100;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            filter: brightness(0) invert(1);

            &:hover {
                filter: invert(76%) sepia(69%) saturate(355%) hue-rotate(337deg) brightness(97%) contrast(95%);
            }
        }
    }

    @media (max-width: 1000px) {
        display:none;
    }
}