.container {
    position : absolute;
    width:140px;
    height:50px;

    cursor: pointer;

    .arrow {
        display:block;
        position:relative;
        top:50%;

        height:1px;
        width:100px;
    
        background-color:white;
        transition: width .5s;
    
        &:before, &:after {
            content:'';
            position:absolute;
            top:0;
            right:0;
            
            height:1px;
            width:8px;
            
            display:block;
            background-color: white;
        }
    
        &:before {  
            transform-origin: top right;
            transform:rotate(40deg);
        }
        
        &:after {
            transform-origin: bottom right;
            transform:rotate(-40deg);
        }
    }
    
    &:hover {
        .arrow {
            width:120px;
        }
    }
}

.bottom { transform: rotate(90deg) rotateX(180deg) }
.top { transform: rotate(-90deg) }
.left { transform: rotate(180deg) }