.slider {
    position : absolute;
    left:10px;
    width:100vw;
    height:100%;

    .arrow__container {
        position : relative;
        left:15px;
        top:45%;

        span {
            position : absolute;
            margin-left:10px;
            transition: all .5s;
        }

        .arrow--hidden {
            visibility: hidden;
            opacity: 0;
        }  
    }

    * {transition: all .5s;}
    
    .text__container {
        position : absolute;
        left:20%;
        top:30%;
        z-index:1;

        display:flex;
        flex-direction: column;
        justify-content: space-between;

        transition: top bottom .5s;

        p:first-child {
            font-size:1.5vw;
            font-weight:500;
        }

        h1 {
            font-size: 8vw;
            font-weight:500;
            margin-bottom:20px;
        }

        h3 {
            font-size:16px;
            font-weight: 100;
            max-width:500px;
        }

        .action {
            position : relative;
            display:flex;
            align-items: center;
            
            margin-top:80px;
            cursor:pointer;

            p {
                text-transform: uppercase;
                font-weight:100;
                font-size:20px;
            }

            span:first-child {
                display:flex;
                position : relative;
                margin-left:20px;
            }

            &:hover {
                span span span {
                    width:120px;
                }

                p { color:#F1BE71 }
            }
        }
    }

    .top { top:-150% }
    .bottom { top: 150% }

    .banner {
        position:absolute;
        right:0;

        width:50%;
        height:100%;

        opacity:0.8;
        transition : opacity .5s;
    }

    .banner--hidden { opacity:0 }


    // RESPONSIVE -----------------------------------------------------------

    @media (max-width: 1000px) {
        display:flex;
        justify-content: center;
        align-items: center;

        left:0;
        right:0;
        bottom:0;
        top:0;

        .arrow__container {
            position : absolute;
            z-index:2;
            top:unset;
            left:170px;
            right:170px;
            bottom:10%;

            display:flex;
            justify-content: space-between;
            align-items: flex-end;

            div span {
                margin-left:0;
            }

            div:first-child span .arrow_container__YKbD7 {
                bottom:0;
            }

            div span .arrow_container__YKbD7 {
                display:flex;
                align-items: center;
                justify-content: center;
            }
        }

        .text__container {
            width:fit-content;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);

            p:first-child { font-size:14px }
    
            h1 {
                font-size: calc(7px + 7vw);
                margin-bottom:15px;
            }
    
            h3 {
                font-size:12px;
                font-weight: 100;
                max-width:500px;
            }
    
            .action {
                margin-top:60px;
    
                p { font-size:13px }
    
                span:first-child {
                    display:flex;
                    position : relative;
                    margin-left:20px;
                }
            }
        }

        .top { top:-150% }
        .bottom { top: 150% }

        .banner {
            right:0;
            top:0;
            bottom:0;
            left:0;
            width:100vw;

            opacity:0.5;
        }

        .banner--hidden { opacity:0 }
    }
}